.trending-products {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    gap: 20px;
    padding: 20px;
  }
  .product-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(25% - 40px);
    box-sizing: border-box;
  }
  
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  }
  .product-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .product-price {
    color: #007bff;
    font-size: 16px;
    margin-top: 10px;
  }

  @media (max-width: 1200px) {
    .product-card {
      width: calc(33.33% - 40px);
    }
  }
  
  @media (max-width: 900px) {
    .product-card {
      width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 600px) {
    .product-card {
      width: calc(100% - 40px);
    }
  }