.search-bar {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  
  }
  input {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border-color: #828283;
  }
 .search-one {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius:3px;
  }
  .search-one:hover {
    background-color: #0056b3;
  }
  .hero-section .button-container {
  display: flex;
  justify-content: center;
}