.cta-section {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 50px;
  }
  .cta-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 16px;
    margin-top: 20px;
    display:inline-block;
  }
  .cta-button:hover {
    background-color: #004080;
  }
  .cta-section .cta-button-container {
    display: flex;
    justify-content: center;
  }